---
layout: default
title: {{ site.name }}
---


<div class="card">
  <h1> {{ site.card.name }}</h1>
  <h3> {{ site.card.titles }} </h3>
  <div class="btns">
      {% if site.profiles != nil and site.profiles.facebook != nil %}
      <a href="https://www.facebook.com/{{ site.profiles.facebook }}" ><img class="icon" id="facebok" src="assets/images/icons/facebook_standard.svg" alt="Facebook" onmouseenter="highlightIcon(this)" onmouseleave="normalizeIcon(this)"/></a>
      {% endif %}
      {% if site.profiles != nil and site.profiles.linkedin != nil %}
      <a href="https://www.linkedin.com/{{ site.profiles.linkedin }}" ><img class="icon" id="linkedin" src="assets/images/icons/linkedin_standard.svg" alt="LinkedIn" onmouseenter="highlightIcon(this)" onmouseleave="normalizeIcon(this)"/></a>
      {% endif %}
      {% if site.profiles != nil and site.profiles.github != nil %}
      <a href="https://github.com/{{ site.profiles.github }}" ><img class="icon" id="github" src="assets/images/icons/github_standard.svg" alt="GitHub" onmouseenter="highlightIcon(this)" onmouseleave="normalizeIcon(this)"/></a>
      {% endif %}
      {% if site.profiles != nil and site.profiles.stackoverflow != nil %}
      <a href="https://stackoverflow.com/users/{{ site.profiles.stackoverflow }}" ><img class="icon" id="stackoverflow" src="assets/images/icons/stackoverflow_standard.svg" alt="StackOverflow" onmouseenter="highlightIcon(this)" onmouseleave="normalizeIcon(this)"/></a>
      {% endif %}
      {% if site.profiles != nil and site.profiles.instagram != nil %}
      <a href="https://www.instagram.com/{{ site.profiles.instagram }}" ><img class="icon" id="instagram" src="assets/images/icons/instagram_standard.svg" alt="Instagram" onmouseenter="highlightIcon(this)" onmouseleave="normalizeIcon(this)"/></a>
      {% endif %}
      {% if site.profiles != nil and site.profiles.twitter != nil %}
      <a href="https://twitter.com/{{ site.profiles.twitter }}" ><img class="icon" id="twitter" src="assets/images/icons/twitter_standard.svg" alt="Twitter" onmouseenter="highlightIcon(this)" onmouseleave="normalizeIcon(this)"/></a>
      {% endif %}
      {% if site.profiles != nil and site.profiles.youtube != nil %}
      <a href="https://www.youtube.com/{{ site.profiles.youtube }}" ><img class="icon" id="youtube" src="assets/images/icons/youtube_standard.svg" alt="YouTube" onmouseenter="highlightIcon(this)" onmouseleave="normalizeIcon(this)"/></a>
      {% endif %}
      {% if site.profiles != nil and site.profiles.twitch != nil %}
      <a href="https://www.twitch.tv/{{ site.profiles.twitch }}" ><img class="icon" id="twitch" src="assets/images/icons/twitch_standard.svg" alt="Twitch" onmouseenter="highlightIcon(this)" onmouseleave="normalizeIcon(this)"/></a>
      {% endif %}

  </div>
</div>

