<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/np6-business-card.css">
  <script src="assets/js/np6-business-card.js"></script>


  <style>
	body 
	{
		background-color: {{ site.background.color }};
	}

  * {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: lighter;
    }

  .main-content {
	  background-color: {{ site.foreground.color }};
  }

  </style>
</head>